
h1 {
    font-size: 30px;
    font-weight: bold;
    margin: var(--margin-medium);
}

.signup{
    position: relative;
    padding:10px;
    left:37%;
    height:fit-content;
    width: 26%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-select {
    margin: var(--margin-small);
    width: fit-content;
}
.label{
    display: block;
    font-size: larger;
    margin: var(--margin-vsmall);
    color: rgb(5, 5, 5);
}
.error{
    margin: var(--margin-small);
    color: rgb(204, 0, 0);
}
.success{
    margin: var(--margin-small);
    color: rgb(4, 202, 4);
}
@media only screen and (max-width: 1200px) {
    [class*="signup"]{
        width: 70%;
        left: 15%;
    }
}