:root {
    --margin-vsmall: 5px 5px 5px 5px;
    --margin-small: 10px 10px 10px 10px;
    --margin-medium: 20px 20px 20px 20px;
    --margin-large: 40px 40px 40px 40px;
}

h1 {
    font-size: 30px;
    font-weight: bold;
    margin: var(--margin-medium);
}
.form-select {
    margin: var(--margin-small);
    width: fit-content;
}
.label{
    display: block;
    font-size: larger;
    margin: var(--margin-vsmall);
    color: rgb(5, 5, 5);
}
.error{
    margin: var(--margin-small);
    color: rgb(204, 0, 0);
}
.success{
    margin: var(--margin-small);
    color: rgb(4, 202, 4);
}

