
.form-control{
    margin: var(--margin-vsmall);
    width: fit-content;
}

.navbar{
    background-color: rgb(124, 194, 255);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    min-width: none;
    min-height:"fit-content";
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-display{
    height: 400px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-y:auto;
}

.message{
    overflow-y:auto;
}

.message-left{
    float: left;
    text-align: left;
    background-color: rgb(197, 197, 197);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-left: 25px;
    width: fit-content;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.message-right{
    float: right;
    text-align: left;
    background-color: rgb(124, 194, 255);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    margin-right: 25px;
    width: fit-content;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.btn{
    margin: var(--margin-small);
    width: fit-content;
}
.error{
    margin: var(--margin-small);
    color: rgb(138, 0, 0);
    font-weight: bold;
}