/* Welcom card is for first page only*/
.welcome{
    top:40%;
    left:40%; 
    width: 20%; 
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: fit-content;
    min-height: 10rem;
}
/* bg is both container and background throughout the pages*/
.bg {
    background-image: url('../Img/clouds.png');
    width: 100%;
    height: 100%;
    top: 0%;
    left: 0%;
    position: fixed;
    overflow-y: auto;
    margin:0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* parameters for thin screen version of welcom card */
@media only screen and (max-width: 800px) {
    [class*="welcome"]{
        width: 80%;
        left: 10%;
    }
}
