.function_card{
    min-height: fit-content;
    min-width: fit-content;
    width: 40%;
    left: 30%;
    top: 7%;
    padding-top: 30px;
    padding-bottom: 30px;
    margin-bottom: 20px;
}

@media only screen and (max-width: 800px) {
    [class*="function_card"]{
        width: 94%;
        left: 3%;
        top: 5%;
    }
}